<launch>
  <arg name="cam_name" />
  <arg name="topic_name" default="camera/image_raw" />
  <arg name="calib_file" default="$(find svo_ros)/param/calib/$(arg cam_name).yaml"/>
  <arg name="input_rosbag" default="" /> <!-- Input rosbag path -->
  <arg name="output_directory" default="/tmp" /> <!-- Default output directory for recorded rosbag -->

  <!-- SVO node -->
  <node pkg="svo_ros" type="svo_node" name="svo" clear_params="true" output="screen" >

    <!-- Camera topic to subscribe to -->
    <param name="cam0_topic" value="$(arg topic_name)" type="str" />

    <!-- Camera calibration file -->
    <param name="calib_file" value="$(arg calib_file)" />

    <!--Parameters-->
    <rosparam file="$(find svo_ros)/param/pinhole.yaml" />
    <param name="map_scale" value="1" />
    
    <!-- Loop closure detection parameters -->
    <param name="runlc" value="false" />
    <!--<rosparam file="$(find svo_ros)/param/loop_closing.yaml" />-->
    <!--<param name="voc_path" value="$(find svo_online_loopclosing)/vocabularies/" type="str" />-->

  </node>

  <!-- Rosbag play (only if input rosbag is provided) -->
  <group if="$(eval input_rosbag != '')">
    <node name="play" pkg="rosbag" type="play" args="$(arg input_rosbag)" required="true"/>
  </group>

  <!-- Rosbag record -->
  <node name="record" pkg="rosbag" type="record" args="-O $(arg output_directory)/recorded.bag /svo/image/0" />

</launch>
